@import "./media.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#banner {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  flex-direction: column;

  background-color: #ffd71e;

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include md {
      display: flex;
      flex-direction: column-reverse;
    }

    .banner_info {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include mobile {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        max-width: 300px;
      }

      .heading {
        h1 {
          color: #000;
          font-size: clamp(10%, 8vw, 57px);
          font-style: normal;
          font-weight: 400;
          line-height: 63px;
          margin-top: 0;
          position: relative;
          z-index: 5;
          font-family: "Zen_Dots";

          /* max-width: 400px; */
          @include mobile {
            line-height: normal;
          }
        }
      }

      .banner_des {
        margin-top: 20px;
        margin-bottom: 25px;
        max-width: 650px;

        p {
          color: #000;
          font-family: "Poppins", sans-serif;

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @include md {
            text-align: center;
          }
        }
      }

      .banner_btns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;

        @include md {
          justify-content: center;
          gap: 20px;
        }

        a {
          background: linear-gradient(to left, #10c71a, #1eee2e) padding-box,
            linear-gradient(to top, #48f045, #2cd22c) border-box;
          text-decoration: none;
          border-radius: 34px;

          button {
            color: #000;
            font-family: "Zen_Dots";
            font-size: 18px;
            font-style: normal;
            padding: 13px 33px 13px 33px;
            background: transparent;
            border: 3px solid transparent;
            display: inline-block;
            position: relative;
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: center; */
            display: flex;
            gap: 20px;
            width: 100%;
            max-width: 500px;

            b {
              color: #000;
              font-family: "Zen_Dots";
              font-size: 18px;
              gap: 20px;
              width: 100%;

              @include mobile {
                font-size: 15px;
              }
            }

            @include mobile {
              font-size: 12px;
              gap: 10px;
              padding: 12px 25px 12px 25px;
            }
          }
        }

        .btn_2 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          span {
            margin: auto;
            color: #000;
            text-align: center;
            font-family: "Zen_Dots";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;

            @include md {
              display: none;
            }
          }

          img {
            width: 100%;
            max-width: 50px;
          }
        }
      }

      .contract_address_btn {
        display: flex;
        align-items: center;
        justify-content: start;

        @include mobile {
          flex-direction: column;
          row-gap: 8px;
          align-items: center;
          justify-content: center;
        }

        .address_heading {
          color: #000;
          font-weight: 400;
          font-family: "Zen_Dots";
          font-style: normal;
          margin-top: 0;
        }

        span {
          color: #000;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          margin-left: 3px;
          margin-right: 3px;
        }

        .copy_icon {
          cursor: pointer;
        }
      }

      .company_links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
          img {
            max-width: 170px;

            @include mobile {
              max-width: 92px;
            }
          }
        }
      }
    }

    .img {
      display: flex;
      align-items: center;
      justify-content: end;

      @include md {
        justify-content: flex-start;
      }
      .emoji {
        position: relative;
        animation: bounce 5s ease 0s 1 normal forwards;
        animation-iteration-count: infinite;
        transition: all 1s;
        &::before {
          content: "";
        }
        .eyes {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .left__eye {
            position: relative;
            margin-left: -10px;
            .eyeBall {
              position: absolute;
              width: 120px;
              height: 120px;
              top: 43px;
              left: 43px;
            }
            .eye__ball {
              width: 50px;
              height: 55px;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 12;
              animation: rotateEyeBall2 3s ease-out infinite;
              transform-origin: 30% 30%;
              border-radius: 50%;
              width: 55px;
              left: 0;
              top: 0;
              z-index: 12;
            }
            .eye {
              width: 120px;
              filter: drop-shadow(8px 14px 10px #00000059);
              height: 120px;
            }
          }
          .right__eye {
            position: relative;
            margin-right: -10px;
            .eyeBall {
              position: absolute;
              width: 120px;
              height: 120px;
              top: 43px;
              left: 43px;
            }
            .eye__ball {
              width: 50px;
              height: 55px;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 12;
              animation: rotateEyeBall 3s ease-out infinite;
              transform-origin: 30% 30%;
              border-radius: 50%;
              width: 55px;
              left: 0;
              top: 0;
              z-index: 12;
            }
            .eye {
              width: 120px;
              filter: drop-shadow(8px 14px 10px #00000059);
              height: 120px;
            }
          }
        }
        .face {
          margin-top: -10px;
          .img__face {
            display: flex;
            justify-content: center;
            max-width: 230px;
            margin: auto;
            img {
              width: 100%;
              animation: face 1.3s ease-in-out infinite;
              transform-origin: center 30%;
            }
          }
          .tongue {
            display: flex;
            justify-content: center;
            max-width: 110px;
            margin: -70px auto 0;
            img {
              width: 100%;
              animation: face 1.3s ease-in-out infinite;
              transform-origin: center 30%;
            }
          }
        }
        /* Define a keyframe animation for rotating the eye__ball around a specific point */
        @keyframes rotateEyeBall {
          0% {
            transform: rotate(190deg) translate(-50%, -50%);
          }
          50% {
            transform: rotate(604deg) translate(-50%, -50%);
          }
          75% {
            transform: rotate(604deg) translate(-50%, -50%);
          }
          100% {
            transform: rotate(190deg) translate(-50%, -50%);
          }
        }
        @keyframes rotateEyeBall2 {
          0% {
            transform: rotate(0deg) translate(-50%, -50%);
          }
          50% {
            transform: rotate(390deg) translate(-50%, -50%);
          }
          75% {
            transform: rotate(390deg) translate(-50%, -50%);
          }
          100% {
            transform: rotate(0deg) translate(-50%, -50%);
          }
        }
        @keyframes face {
          0% {
            transform: rotate(10deg);
          }
          40% {
            transform: rotate(-10deg);
          }
          80% {
            transform: rotate(-20deg) scale(0.95);
          }
          100% {
            transform: rotate(10deg) scale(1);
          }
        }
        @keyframes bounce {
          0% {
            transform: translateY(0);
          }

          40% {
            transform: translateY(-50px);
          }
          60% {
            transform: translateY(150);
          }
          100% {
            transform: translateY(0);
          }
        }
        /* Apply the animation and set the transform-origin for the eye__ball elements */

        > img {
          width: 430px;
          object-fit: cover;

          @include md {
            width: 100%;
          }
        }
      }
    }
  }
}

.marqu {
  width: 100%;
  background: linear-gradient(90deg, #1abefa 33.68%, #1974f0 72.86%);
  height: 7rem !important;

  p {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      font-family: "Zen_Dots";
      color: #fff !important;
      text-align: center;

      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
    }
  }
}
