@import "./variable.scss";
@import "./media.scss";

#footer {
  position: relative;

  background-color: #ffcb17;

  .container {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    .top {
      display: grid;
      grid-template-columns: 1fr 3fr;
      max-width: 1200px;
      margin: auto;
      padding: 60px 20px 30px;
      gap: 40px;

      @include md {
        grid-template-columns: 1fr;
      }

      .footer_left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 20px;

        @include md {
          align-items: center;
        }

        .logo {
          img {
            /* margin-left: -6px; */
            width: 100%;
            max-width: 200px;
          }
        }

        .para {
          color: #000;
          font-family: "Zen_Dots";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: 31px;
          margin-top: 15px;
          margin-bottom: 20px;

          @include md {
            text-align: center;
          }
        }

        .left_bottom {
          span {
            color: #000;
            font-family: "Zen_Dots";
            display: flex;
            justify-content: flex-start;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 31px;
            margin-bottom: 0;
            padding-bottom: 0;
            @include md {
              text-align: center;
            }
          }

          a {
            color: #000;
            font-family: "Zen_Dots";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 31px;
            text-decoration: revert !important;
          }
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 10px;

          a {
            img {
              max-width: 45px;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }

      .footer_right {
        display: flex;
        flex-direction: column;
        align-items: start;

        justify-content: center;
        row-gap: 18px;

        h1 {
          color: #000;
          font-weight: 400;
          font-family: "Zen_Dots";
          font-style: normal;
          margin-top: 0;
          font-size: 10px;
        }

        p {
          color: #000;
          font-family: "Zen_Dots";
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          padding-bottom: 10px;
        }
      }


    }

    .bottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      row-gap: 20px;
      background-color: #ffd71e;

      p {
        max-width: 1000px;
        margin: auto;
        padding: 23px 20px;
        color: #000;
        text-align: center;
        font-family: "Zen_Dots";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

        margin-inline: auto;

      }
    }
  }
}