@import "./media.scss";


#token {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    .heading {
        h1 {
            color: #000;
            font-weight: 400;
            line-height: 80px;
            font-family: "Zen_Dots";
            font-style: normal;
            margin-top: 0;
            line-height: 50px;
            text-align: center;
            font-size: 40px;
            position: relative;
        }
    }

    .container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include md {
            display: flex;
            flex-direction: column;
        }

        .info {
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;

                li {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    color: #000;
                    font-family: "Poppins";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-bottom: 36px;

                    b {
                        color: #000;
                        text-align: right;
                        font-family: "Zen_Dots";
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 38px;
                        position: relative;
                        padding-bottom: 20px;
                        width: 120px;

                        span {
                            color: #000;
                            font-family: "Zen_Dots";
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 38px;
                            position: absolute;
                            right: -29px;
                        }
                    }
                }
            }
        }



        .token_img {
            img {
                max-width: 500px;
                object-fit: cover;
                /* padding: 40px; */
                width: 100%;
            }
        }
    }

    .about_btn {
        a {
            cursor: pointer;
  
            button {
              color: #000;
              font-family: "Zen_Dots";
              font-size: 18px;
              font-style: normal;
              padding: 8px 33px 8px 33px;
              background: transparent;
              border: 3px solid transparent;
              display: inline-block;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;
              width: 100%;
              max-width: 500px;
              background: linear-gradient(to left, #1974F0, #1ABEFA) padding-box, linear-gradient(to top, #1974F0, #1ABEFA) border-box;
              text-decoration: none;
              border-radius: 34px;
  
              b {
                color: white;
                font-family: "Zen_Dots";
                font-size: 18px;
                gap: 20px;
                width: 100%;
  
                @include mobile {
                  font-size: 15px;
  
                }
              }
  
              .span {
                img {
                  width: 100%;
                  height: 100%;
                  max-width: 45px;
                }
              }
  
              @include mobile {
                font-size: 12px;
                gap: 10px;
                padding: 12px 25px 12px 25px;
              }
            }
  
          }
    }
}